.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float:left;
  color: #7289da;
}

.App-header {
  background-color: #2d2d2d;
  font-size: calc(10px + 2vmin);
  height: 50px;
}
.App-title{
  float:left;
  padding-top: 7px;
  color: #7289da;
  font-size: 25px;
  font-weight: 600;
  font-family: 'Gloria Hallelujah', cursive;
}


/*@keyframes App-logo-spin {*/
  /*from {*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*to {*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/