.PaymentApp {
  text-align: center;
}

.PaymentApp-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.PaymentApp-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 50px;
}
.PaymentApp-title{
  color: #61dafb;
  font-size: 20px;
  font-weight: 600;
}
.PaymentApp-link {
  color: #61dafb;
}

@keyframes PaymentApp-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
